{% extends "core/base.html" %}

{% block content %}
        <ol>
            <div class="new_cat">
                <a href="{% url "category:newcategory" %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    <strong>New category</strong>
                </a>
            </div>
        </ol>
    {% for category in categories %}
        <ol>
            <em>{{forloop.counter}}. </em>
            <a href="{% url "category:onecategory" ident=category.id %}">{{category}}</a>
        </ol>
    {% endfor %}
{% endblock %}
{% block backward %}
    <a href="{% url "core:mainpg" %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}