{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <script src="{% static "edit_blog.js" %}"></script>
    <h2>Blogs list</h2>
    <h3>
        <div class="new_cat">
            <a href="{% url "blog:new_blog" %}">
                <span class="glyphicon glyphicon-plus"></span>
                <label>Create new blog</label>
            </a>
        </div>
    </h3>
    {% for blog in object_list %}
        <ol>
            <em>{{forloop.counter}}. </em>
            <a href="{% url "blog:blogWithItsPosts" ident=blog.id %}">{{blog.name}} </a>
            <span>
                created at <strong>{{blog.createdata}}</strong>
                {% if user.id != blog.author.id %}
                    by <strong>{{blog.author}}</strong>
                {% else %}
                    <a class="editLink" href="{% url "blog:edit_blog" pk=blog.id %}"> Edit blog </a>
                {% endif %}
            </span>
        </ol>
    {% endfor %}
    <div class="modal fade" id="blogModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body" id="blogEdit">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block backward %}
    <a href="{% url "core:mainpg" %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}
{% block searchform %}
    <div class="navbar-form navbar-left">
        <div class="form-group">
            <form action="" method="get">
                <div class="form-group">
                    {% bootstrap_field customform1.search show_label=False%}
                    {% bootstrap_field customform1.order_by show_label=False%}
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}