{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
    <script src="{% static "update_comment.js" %}"></script>
    <script src="{% static "likepost.js" %}" type="text/javascript"></script>
    <h3>Post name</h3>
    <em>{{post.postname}} </em>
    <h3> Post text</h3>
    <em>{{post.text}} </em>
    <h3>
        <meta name="csrf" content="{{ csrf_token }}">
        <span id="likes-{{ post.id }}">{{ likes }} likes </span>
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-default btn-sm btn ajaxlike" data-url="{% url "blog:post_ajax_like" ident=post.id %}" data-postid="{{ post.id }}">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
            </button>
{#            <button class="btn ajaxlike" data-url="{% url "blog:post_ajax_like" ident=post.id %}" data-postid="{{ post.id }}">#}
{#                <li class="active"><span class="glyphicon glyphicon-thumbs-up"></span></li></button>#}
        {% endif %}
    </h3>
    <h3> Comments</h3>
    <p>
        {% include "blog/comments.html" %}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Comment">
    </form>

    <div>
        {% if user.id == post.author.id %}
            <a href="{% url "blog:edit_post" pk=post.id %}"> Edit </a>
        {% endif %}
    </div>
{% endblock %}
{% block backward %}
    <a href="{% url "blog:blogWithItsPosts" ident=post.blog.id %}">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
{% endblock %}